<div class="container mt-5">
    <div class="row">
        <h3>Genre</h3>
        <table class="table table-bordered table-hover text-nowrap     table-responsive">
        <thead>
            <tr>
                <th> Sr. No </th>
                <th> Genre Name </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td scope="row"><%= @genre.id %></td>
                <td> <%= @genre.genre_name %> </td>
                <td>
                    <%= link_to "Show" , genre_path(@genre.id), class: 'btn btn-primary ' %>
                    <%= link_to "Edit", edit_genre_path(@genre.id), class: 'btn btn-primary' %>
                    <%= link_to "Delete", genre_path(@genre.id), method: :delete, data: { confirm: 'Are you Sure?'} ,class: 'btn btn-primary' %>
                </td>
            </tr>
            
        </tbody>
        </table>

    </div>
     <div class="row">
        <h3>Books of Genre</h3>
        <table class="table table-bordered table-hover text-nowrap     table-responsive">
        <thead>
            <tr>
                <th> Sr. No </th>
                <th> Book Title </th>
                  
            </tr>
        </thead>
        <tbody>
            <% @books.each_with_index do |book, idx| %>
            <tr>
            <td> <%= idx +1%> </td>
             <td>   <%= link_to "#{book.title}" , book_path(book.id), class: 'btn btn-link ' %> </td>
            </tr>
            <% end %>
        </tbody>
        </table>
        
    </div>

</div>