<div class = "container mt-5">
    <h3> <%= @author.new_record? ? "Create Author" : "Edit Author" %> </h3>


    <%= form_for @author do |f| %>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name , class: 'form-control' , id: 'f_name', placeholder: 'Enter first Name' %>  
        </div>
        <div class="form-group">
          <%= f.label :middle_name %>
          <%= f.text_field :middle_name , class: 'form-control' , id: 'm_name', placeholder: 'Enter middle Name' %>  
        </div>
        <div class="form-group">
          <%= f.label :last_name  %>
          <%= f.text_field :last_name , class: 'form-control' , id: 'f_name', placeholder: 'Enter last Name' %>  
        </div>
                 
        <div class="p-2">
        <%= f.submit( @author.new_record? ? "Create" : "Edit",  class: "btn btn-primary") %> 
        </div>
        <% end %>

</div>