<div class="container mt-5">
    <div class="row">
        <h3>Author</h3>
        <table class="table table-bordered table-hover text-nowrap     table-responsive">
        <thead>
            <tr>
                <th> Sr. No </th>
                <th> Author  Name </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td scope="row"><%= @author.id %></td>
                <td> <%= @author.name %> </td>
                <td>
                    <%= link_to "Show" , author_path(@author.id), class: 'btn btn-primary ' %>
                    <%= link_to "Edit", edit_author_path(@author.id), class: 'btn btn-primary' %>
                    <%= link_to "Delete", author_path(@author.id), method: :delete, data: { confirm: 'Are you Sure?'} ,class: 'btn btn-primary' %>
                </td>
            </tr>
            
        </tbody>
        </table>

    </div>
     <div class="row">
        <h3>Books of Author</h3>
        <table class="table table-bordered table-hover text-nowrap     table-responsive">
        <thead>
            <tr>
                <th> Sr. No </th>
                <th> Boot Title </th>
                  
            </tr>
        </thead>
        <tbody>
            <% @books.each_with_index do |book, idx| %>
            <tr>
            <td> <%= idx +1 %> </td>
             <td>   <%= link_to "#{book.title}" , book_path(book.id), class: 'btn btn-link ' %> </td>
            </tr>
            <% end %>
        </tbody>
        </table>
        
    </div>

</div>