<div class="container mt-5">
    <div class="row">
        <h3>Publisher</h3>
        <table class="table table-bordered table-hover text-nowrap     table-responsive">
        <thead>
            <tr>
                <th> Sr. No </th>
                <th> Publisher Name </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td scope="row"><%= @publisher.id %></td>
                <td> <%= @publisher.name %></td>
                <td>
                    <%= link_to "Show" , publisher_path(@publisher.id), class: 'btn btn-primary ' %>
                    <%= link_to "Edit", edit_publisher_path(@publisher.id), class: 'btn btn-primary' %>
                    <%= link_to "Delete", publisher_path(@publisher.id), method: :delete, data: { confirm: 'Are you Sure?'} ,class: 'btn btn-primary' %>
                </td>
            </tr>
            
        </tbody>
        </table>
    </div>

</div>